.grid__header .menu__header-title {
  text-align: center;
  text-transform: capitalize;
  margin-top: 170px;
  margin-bottom: 54px;
}

.items__grid {
  background-color: var(--grid-bg-color);
  padding: 50px 0;
  min-height: 100vh;

}
.items__name-title {
  text-align: center;
  color: var(--dark-text-color);
  font-size: 28px;
  margin-bottom: 40px;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));
  gap: 32px;
}

.food__item {
  background-color: var(--grid-item-bg-color);
  width: 250px;
  padding: 20px;
  text-align: center;
  color: var(--white-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image__container {
  position: relative;
  width: 180px;
  height: 180px;
  margin-top: -50px; 
}

.item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.price__icon {
  position: absolute;
  bottom: 10px;
  right: 0;
  background: var(--dark-bg-color);
  color: var(--white-text-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.card__title {
  margin: 15px 0 10px;
  font-size: 24px;
}

.card__desc {
  font-size: 20px;
  color: var(--grid-item-color);
  opacity: 0.8;
  margin-bottom: 15px;
  min-height: 40px;
}

.read__more {
  color: var(--white-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  margin-top: 16px;
  display: block;
}

.button {
  width: 172px;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  width: 172px;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
