* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

.buttons {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 180px;
  align-items: center;
}

.button {
  background-color: var(--btn-color-bg);
  color: var(--btn-color-text);
  padding: 26px;
  border-radius: 5px;
  width: 260px;
  height: 88px;
  font-size: 31px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.4s ease-in;
}

.button:hover {
  border: 1px solid var(--btn-color-bg);
  background-color: var(--btn-color-text);
  color: var(--btn-color-bg);
}

/* Header */
.main__header {
  background-color: var(--header-background);
  color: var(--white-text-color);
  height: 72px;
  font-family: 'Inter';
}

.main__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__header-text {
  text-transform: uppercase;
  font-size: 19px;
  margin: 30px 0 19px;
}

.user__actions {
  display: flex;
  gap: 33px;
}

.user__action {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 16px;
}

.user__action img {
  width: 40px;
  background-color: var(--white-bg-color);
  border-radius: 50%;
}

.user__action span {
  font-weight: bold;
  font-size: 12px;
}
/* /Header */

/* Banner */
.main__banner {
  height: 793px;
  background: url('../assets/images/banner-bg.png') no-repeat center/cover;
  font-family: 'Montserrat';
}

.main__banner-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
}

.banner__image {
  width: 167px;
  background-color: var(--white-bg-color);
}

.menu__items {
  display: flex;
  gap: 35px;
}

.menu__item {
  list-style-type: none;
  margin-top: 55px;
}

.menu__item-link:hover {
  border-bottom: 1px solid var(--navbar-hover-color);
  color: var(--navbar-hover-color);
}

.menu__item-link {
  text-decoration: none;
  color: var(--navigation-color);
  font-weight: bold;
  font-size: 20px;
}

.banner__text {
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 94px;
  letter-spacing: 1px;
}

.banner__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: capitalize;
  color: var(--banner-title-color);
}

.banner__title span {
  color: var(--banner-span-color);
}

.banner__description {
  color: var(--banner-desc-color);
  margin-top: 10px;
  font-family: 'Inter';
  font-size: 30px;
  font-weight: 100;
}
/* /Banner */

/* Menu */
.menu__header {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  font-family: 'Inter', sans-serif;
}

.menu__header-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 45px;
  text-transform: capitalize;
}

.menu__searchbar {
  background: transparent;
  border: 1px solid var(--search-bar-color);
  outline: none;
  padding: 16px 332px 14px 22px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
}

.menu__items-header {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.menu__item-header {
  background-color: var(--menu-item-bg-color);
  position: relative;
  top: 40px;
  width: 258px;
  height: 334px;
  cursor: pointer;
}

.menu__item-header:nth-child(2) {
  top: 80px;
}

.menu__item-header:nth-child(4) {
  top: 80px;
}

.menu__item-header img {
  display: block;
  margin: auto;
  padding: 18px 22px;
  width: 240px;
  height: 300px;
}

.menu__item-title {
  color: var(--menu-item-title-color);
  text-align: center;
  font-family: 'Inter', san-serif;
}

.menu__wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
  position: relative;
  top: 216px;
  font-family: Inter, san-serif;
}

.menu__details {
  margin-right: 206px;
}

.menu__header-desc {
  color: var(--menu-item-desc-color);
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 300;
  margin: 51px 0;
  max-width: 471px;
  height: 232px;
  letter-spacing: 1px;
}

.menu__image img {
  width: 452px;
  height: 455px;
}

.events__wrapper {
  text-align: center;
  position: relative;
  top: 356px;
  font-family: Inter, san-serif;
}

.events__data {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(
      180deg,
      rgba(127, 61, 30, 0.9) 0%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(78, 57, 38, 0.3) 100%
    ),
    url('../assets/images/events.jpg') no-repeat center/cover;
  height: 527px;
}

.title {
  font-size: 30.21px;
  font-weight: 700;
  color: var(--white-text-color);
  text-transform: capitalize;
  margin-top: 56px;
}

.description {
  font-size: 20px;
  font-weight: 300;
  color: var(--white-text-color);
  text-transform: capitalize;
  margin-top: 11px;
  letter-spacing: 1px;
}

.countdown {
  display: flex;
  gap: 11px;
  justify-content: center;
  margin-top: 81px;
}

.countdown__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--menu-item-bg-color);
  width: 85px;
  height: 85px;
  border-radius: 9px;
  color: #000000;
  font-size: 32px;
  font-weight: bold;
}

.countdown__item span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.event-btn {
  margin-top: 81px;
  padding: 19px;
  width: 200px;
  height: 60px;
  font-size: 24px;
  display: block;
  margin: auto;
  border-radius: 0;
  margin-bottom: 92px;
}
/* /Menu */
