:root {
  --primary-bg-color: #1c3b3b;

  --header-background: #000000;

  --white-text-color: #ffffff;

  --white-bg-color: #ffffff;

  --dark-bg-color: #000000;

  --buttons-bg-color: #ce9b66;
  --buttons-text-color: #ffffff;

  --navigation-color: #ffffff;
  --navbar-hover-color: #ffd700;

  --banner-title-color: #ffd700;
  --banner-span-color: #bd7e3b;
  --banner-desc-color: #d9d9d9;

  --btn-color-bg: #ce9b66;
  --btn-color-text: #ffffff;

  --primary-title-color: #ffffff;
  --search-bar-color: #aaaaaa;
  --menu-item-bg-color: #47d8d8;
  --menu-item-title-color: #000000;

  --menu-item-desc-color: #ffffff;
}
